.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1600px;
        padding: 16px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.08em;

    background-color: var(--white-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}