.header {
    padding-top: 20px;
    padding-bottom: 40px;
}

.site-nav__item:hover,
.site-nav__item:focus {
    color: var(--accent-color);
}

.mobil__nav-item:hover,
.mobil-nav__item:focus {
    color: var(--accent-color);
}

.logo__icon {
    width: 14.2px;
    height: 19.3px;
}

.current {
    color: var(--accent-color);
    }

.mobile-menu-close__icon {
    position: absolute;
    top: 20px;
    stroke: var(--white-color);
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
}

@media screen and (max-width: 767px) {

    .mobile-list {
        margin-bottom: 40px;
    }
    

    .logo__icon-mobile {
        width: 14.2px;
        height: 19.3px;
    }

    .logo-header-mobile{
        margin-bottom: 40px;
        top: 20px;
        left: 20px;
    }
    .mobil-nav__item {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--white-color);
    }
    .mobile-nav {
        padding-top: 89px;
    }

        .button__modal-2 {
            cursor: pointer;
            width: 280px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.21;
            align-items: center;
            text-align: center;
            letter-spacing: 0.14em;
            text-transform: uppercase;
            background-color: transparent;
            padding: 15px 5px;
            border: 2px solid;
            margin-right: 40px;
            color: var(--accent-color)
                }
    
}

.modal-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

@media screen and (min-width: 768px) {

    
    .logo__icon-mobile {
        width: 22px;
        height: 30px;
    }

    .mobile-menu-close__icon {
        position: absolute;
        top: 56px;
        right: 32px;
        background-color: transparent;
        border: none;
        padding: 0;
    }
    .logo-header-mobile{
        position: absolute;
        top: 40px;
        left: 32px;
    }


    .button-call-mobile {
        
        display: none;
    }
    .mobile-menu-close__icon {
        top: 40px;
    }

    .mobile-nav {
        margin: 0 auto;
    }
    .mobile-list {
        text-align: left;
        margin: 165px auto;
        width: 332px;


    }

    .mobil-nav__item {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--white-color)
        }
}


.logo {
    display: block;
    width: 80px;

    font-weight: 800;
    font-size: 17px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: var(--black-color);

    @media screen and(min-width:768px) {
        font-size: 26px;
        width: auto;
    }

    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: 2px;

        @media screen and(min-width:768px) {
            margin-bottom: 3px;
        }
    }

    &__icon {
        width: 14.2px;
        height: 19.3px;

        @media screen and(min-width:768px) {
            width: 22px;
            height: 30px;
            }
    }

    &__text {
        font-weight: 700;
        font-size: 5px;
        line-height: 1.2;

        letter-spacing: 0.18em;
        text-transform: uppercase;

        color: var(--black-color);

        @media screen and(min-width:768px) {
            font-weight: 700;
            font-size: 8px;
            line-height: 1.25;
        }
    }

    &__span {
        color: var(--accent-color);
    }

    &-footer {
        margin: 0 auto;
        margin-bottom: 20px;

        @media screen and (min-width:768px) {
            margin: 0;
        }

        @media screen and (min-width:1680px) {
            margin-right: 450px;
        }

    }
}


.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-call {
    display: none;
}

.mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.logo-header-white {
    color: var(--white-color)
}

.logo__text-mobile {
    color: var(--white-color)
}



@media screen and (max-width: 1679px) {
    .site-nav {
        display: none;
    }

}


@media screen and (min-width: 768px) {
    .button__modal-2 {
        display: none;
    }

    .btn-nav {
        display: flex;
    }

    .button-call {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        background-color: transparent;
        padding: 15px 5px;
        border: 2px solid;
        margin-right: 40px;
        color: var(--accent-color)
            }

}


@media screen and (min-width: 1680px) {
    .button-call {
        border: 2px solid;
        cursor: pointer;
        margin-right: 0;
        padding: 24px 26px;
    }
    .mobile-menu-btn__icon {
        display: none;
    }
    .site-nav {
        display: flex;
    }


    .site-nav__item {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: var(--gray-color);
        margin-right: 40px;
        

    }

}