@media screen and (max-width: 767px) {

    .modal-second {

        /* Скрываем окна  */
        opacity: 0;
        visibility: hidden;
    
    
        /*  Установаем ширину окна  */
        width: 100%;
        height: 100vh;
    
        /*  Центрируем и задаем z-index */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 30;
        /* Должен быть выше чем у подложки*/
    
        /*  Побочные стили   */
        padding: 30px;
        border-radius: 3px;
        background-color: var(--black-color);
        transition: 0.3s all;
    }
    
}

@media screen and (max-width: 479px) {
    .contact-form-checkbox-label::before {
        border: 2px solid #757575;
        display: inline-block;
        content: "";
        width: 8px;
        height: 8px;
        cursor: pointer;
        margin-right: 8px;
        
            .contact-form-checkbox:checked + & {
            background-color: var(--accent-color);
            box-shadow: inset 0 0 0 2px #ffff;
        }
            .contact-form-checkbox:focus + & {
            border: 2px solid var(--accent-color);
        
        }
    }

}

@media screen and (min-width: 480px) {
    .contact-form-checkbox-label::before {
        border: 2px solid #757575;
        display: inline-block;
        content: "";
        width: 12px;
        height: 12px;
        cursor: pointer;
        margin-right: 8px;
        
            .contact-form-checkbox:checked + & {
            background-color: var(--accent-color);
            box-shadow: inset 0 0 0 2px #ffff;
        }
            .contact-form-checkbox:focus + & {
            border: 2px solid var(--accent-color);
        
        }
    }

}

@media screen and (min-width: 768px) {
    .contact-form {    
        margin: 80px auto;
        width: 600px;
        height: 100vh;
    }
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.form-head {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    color: #757575;
}

.contact-form-field {
    display: block;
    margin-bottom: 10px;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 4px;

    &:hover,
    &:focus {
    outline: none;
    border-color: var(--accent-color);
}
}


.contact-form-input-wrapper {
    margin-top: 4px;
    position: relative;

}

.contact-form-checkbox-wrapper {
    margin-bottom: 30px;
}

.contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form-input:hover + &,
    .contact-form-input:focus + & {
    fill: var(--accent-color);
}
}

.contacts-name-modal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    color: #757575;
}

.contact-form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
    &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}


.contact-form-checkbox-label {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    

    letter-spacing: 0.03em;

    color: #757575;

    // &::before {
    //     border: 2px solid #757575;
    //     display: inline-block;
    //     content: "";
    //     width: 16px;
    //     height: 16px;
    //     cursor: pointer;
    //     margin-right: 8px;
        
    //         .contact-form-checkbox:checked + & {
    //         background-color: var(--accent-color);
    //         box-shadow: inset 0 0 0 2px #ffff;
    //     }
    //         .contact-form-checkbox:focus + & {
    //         border: 2px solid var(--accent-color);
        
    //     }
    // }
    
}


.akt {
    color: var(--accent-color);
}



.contact-form-submit-btn {
    display: block;
    margin: 0 auto;
    color: var(--primary-white-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: none;

    &:hover,
    &:focus {
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--secondary-accent-color);
}
}