.problems {
  background: linear-gradient(to bottom, var(--black-color) 75%, var(--white-color) 25%);
  counter-reset: section;
}
.problems__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 24px 0;
  text-align: left;
}
.problems__help {
  color: var(--accent-color);
}
.problems__list {
  display: grid;
  grid-template-columns: 1fr;

  grid-column-gap: 0px;
  grid-row-gap: 18px;
  width: 280px;
  background-color: var(--white-color);
  padding: 20px;
  counter-reset: item;
}
.problems-list__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
  color: var(--black-color);
}
.problems-list__item::before {
  display: block;
  counter-increment: section;
  content: '\2014\202F\202F''0' counter(section);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  margin-bottom: -13px;
}
