.problems {
  background: linear-gradient(to bottom, var(--black-color) 70%, var(--white-color) 30%);
  counter-reset: section;
  padding: 24px 0;
}
.problems__title {
  margin: 0 auto;
  margin-bottom: 24px;

  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--white-color);
  
  text-align: left;
  width: 280px;
}
.problems__help {
  color: var(--accent-color);
}
.problems__list {
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  width: 280px;
  background-color: var(--white-color);
  padding: 20px;

  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.problems-list__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
  color: var(--black-color);
}

.problems-list__item::before {
  display: block;
  counter-increment: section;
  content: '\2014\202F\202F 0'counter(section);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .problems {
    padding: 40px 0;
  }
  .problems__title {
    margin: 0;
    margin-bottom: 24px;
    width: 425px;
  }
  .problems__list {
    margin: 0;
    width: 704px;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(3, 0fr);
    gap: 24px 40px;
    padding: 32px 80px;
  }
  .problems-list__item {
    width: 216px;
  }
  .problems-list__item::before {
    font-size: 14px;
  }
}
@media screen and (min-width: 1680px) {
  .problems {
    padding: 80px 0;
    background: url(../images/fire-problems.svg),
      linear-gradient(to bottom, var(--black-color) 65%, var(--white-color) 30%);
    background-repeat: no-repeat;
    background-position: right 5% bottom 75%;
  }
  .problems__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    width: 860px;
    letter-spacing: 0.03em;
    padding-bottom: 80px;
  }
  .problems-list__item {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.08em;
    width: 336px;
  }
  .problems-list__item::before {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.08em;
  }
  .problems__list {
    width: 1648px;
    padding: 60px 140px;
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: repeat(2, 0fr);
    gap: 72px 85px;
  }
}
