
.reviews {
    padding: 40px 0;
}
.reviews__slick {
    position: relative;

    @media screen and(min-width:1680px) {
        width: 1088px;
        margin: 0 auto;
    }
}
.reviews__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
    width: 280px;

    margin: 0 auto;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.reviews__link {
    display: block;
    width: 30px;
    margin: 0 auto;
}

.reviews__img {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: 150px;
        height: 150px;
        margin-bottom: 26px;
    }
    
}

.reviws__caver {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        display: flex;

        width: 704px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        padding: 40px 50px;
        margin-bottom: 20px;

        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    }

    @media screen and (min-width: 1680px) {
        padding: 60px;
        margin-bottom: 40px;
    }
}
.reviews__container {
    width: 90px;
    margin: 0  auto;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        display: inline-block;
        width: 150px;
        margin-right: 44px;
        margin-bottom: 0;
    }
}
.reviews__article {
    width: 240px;
    margin:0 auto;

    @media screen and (min-width: 768px) {
        display: inline-block;
        margin: 0;
        width: 412px;
    }
}
.reviews__text1 {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 1.21;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.08em;
        color: #FF6B09;
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
            font-size: 20px;
            text-align: left;
            margin-bottom: 20px;
            }
}
.reviews__text2 {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13.5px;
        line-height:1.25;
        text-align: center;
        letter-spacing: 0.08em;
        color: #B9B9B9;
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
            font-size: 12px;
            text-align: left;
            margin-bottom: 20px;
            }
                        @media screen and (min-width: 1680px) {
                            width: 482px;;
                        }
}
.reviews__text3 {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 9.1px;
        line-height:1.66;   
        text-align: center;
        color: #3D3D3D;
        
        @media screen and (min-width: 768px) {
        font-size: 9.5px;
        line-height: 2.22;
        text-align:left;
        margin-bottom: 0px;
        }
                @media screen and (min-width: 1680px) {
                    width: 706px;
                    font-size: 15.1px;
                }
}
.reviews__span {
    color: #FF6B09;
    text-decoration:underline;
}

.slick-dots {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    button {
        display: block;
        width: 54px;
        height: 54px;
        padding: 0;
        border: none;
        border-radius: 100%;
     
        background-color: transparent;
        text-indent: -9999px;
    }

.slick-active {
    @media screen and(min-width:768px) {
        border-radius: 100%;
            outline: 1px solid #FF6B09;
    }
    
}

}
.slick-dots li {
    margin: 0 6px;

    @media screen and (min-width:768px) {
        margin: 1px 16px;
    }
}

.slick-dots.slick-slider {
    width: 75%;

    @media screen and(min-width:768px) {
        width: 100%;
    }
}

.slick-dots li:nth-child(1) {
        background-image: url(../images/reviews__img/Ellipse_9_2x-min.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
}
.slick-dots li:nth-child(2) {
background-image: url(../images/reviews__img/Ellipse_10_2x-min.png);
    background-repeat: no-repeat;    
    background-position: center;
    background-size: contain;
}
.slick-dots li:nth-child(3) {
background-image: url(../images/reviews__img/Ellipse_11_2x-min.png);
    background-repeat: no-repeat;    
    background-position: center;
    background-size: contain;
}
.slick-dots li:nth-child(4) {
background-image: url(../images/reviews__img/Ellipse_12_2x-min.png);
    background-repeat: no-repeat;    
    background-position: center;
    background-size: contain;
}
.slick-dots li:nth-child(5) {
background-image: url(../images/reviews__img/Ellipse_13_2x-min.png);
    background-repeat: no-repeat;    
    background-position: center;
    background-size: contain;
}
.slick-dots li:nth-child(6) {
background-image: url(../images/reviews__img/Ellipse_8_2x-min.png);
    background-repeat: no-repeat;    
    background-position: center;
    background-size: contain;
    
}
.slick-dots li:nth-child(7) {
background-image: url(../images/reviews__img/Ellipse_15_2x-min.png);
    background-repeat: no-repeat;    
    background-position: center;
    background-size: contain;
}
.slider-previous-btn {
    position: absolute;
    display: none;
    border: none;
    background-color: transparent;
    fill: #FF6B09;
    
    bottom: 50%;
    left: 4px;
    z-index: 1;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.slider-next-btn {
    position: absolute;
    display: none;
    border: none;
    background-color: transparent;
    fill: #FF6B09;
    
    bottom: 50%;
    right: 4px;
    z-index: 1;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.dots-previous-btn {
    display: none;
    border: none;
    background-color: transparent;
    fill: #FF6B09;
    position: absolute;
    bottom: 5px;
    left: 3%;
    z-index: 1;

    @media screen and (man-width: 767px) {
            display: block;
        }
}

.dots-next-btn {
    display: none;
    border: none;
    background-color: transparent;
    fill: #FF6B09;
    position: absolute;
    bottom: 5px;
    right: 3%;
    z-index: 1;

    @media screen and (man-width: 767px) {
        display: block;
    }
}