<section class="about">
    <div class="container">
        <h2 class="about__title">Teacher</h2>
        <div class="about__main-content">
            <picture>
                <source srcset="./images/about/teacher_elena-desktop.jpg 1x, ./images/about/teacher_elena-desktop@2x.jpg 2x"
                    media="(min-width: 1680px)" type="image/webp">
            
                <source srcset="./images/about/teacher_elena-mob-tablet.jpg 1x, ./images/about/teacher_elena-mob-tablet@2x.jpg 2x"
                    media="(max-width: 1679px)">
                <img src="images/about/teacher_elena-mob-tablet.jpg" alt="Photo of the teacher">
            </picture>
            <div class="teacher-info">
                <h3 class="teacher-info__name">Elena Moreva</h3>
                <ul class="teacher-info__achievements">
                    <li class="teacher-info__achievements-item">6 yeards of experience in preparing students for UPE</li>
                    <li class="teacher-info__achievements-item">Own result of passing VNO - 197 points 2 years in a row</li>
                    <li class="teacher-info__achievements-item">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</li>
                </ul>
                <div class="teacher-info__education">
                    <p class="teacher-info__education-item">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.</p>
                    <p class="teacher-info__education-item">In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.</p>
                    <p class="teacher-info__education-item">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to
                    Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful
                    Tools for Teaching and Learning (University of Houston).</p>
                    <a href="" class="teacher-info__education-link">Cambrige English Entry Level Certificate</a>
                </div>
            </div>
        </div>
    </div>
</section>
