<section class="advantages">
    <div class="container advantages-container">
        <h2 class="advantages__title viually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list__iteam">
                <p class="advantages-list__text">
                    <span class="advantages-list__row">Adapted author's</span>
                    <span class="advantages-list__row">UPE program</span>
                </p>
            </li>
            <li class="advantages-list__iteam">
                <p class="advantages-list__text">
                    <span class="advantages-list__row">Modern</span>
                    <span class="advantages-list__row">teaching methods</span>
                </p>
            </li>
            <li class="advantages-list__iteam">
                <p class="advantages-list__text">
                    <span class="advantages-list__row">Financial guarantee</span>
                    <span class="advantages-list__row">the result</span>
                </p>
            </li>
        </ul>
    </div>
</section>

