<section class="advantages">
    <div class="container advantages-container">
        <h2 class="advantages__title viually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list__iteam">
                <div class="advantages-list__text">
                    <p class="advantages-list__row">Adapted author's</p>
                    <p class="advantages-list__row">UPE program</p>
                </div>
            </li>
            <li class="advantages-list__iteam">
                <div class="advantages-list__text">
                    <p class="advantages-list__row">Modern</p>
                    <p class="advantages-list__row">teaching methods</p>
                </div>
            </li>
            <li class="advantages-list__iteam">
                <div class="advantages-list__text">
                    <p class="advantages-list__row">Financial guarantee</p>
                    <p class="advantages-list__row">the result</p>
                </div>
            </li>
        </ul>
    </div>
</section>

