<section class="benefits">
  <div class="container">
    <h2 class="benefits__title">
      Why do people<br />
      choose us
    </h2>
    <div class="benefits__list">
      <p class="benefits-list__item"><br />Training in small groups</p>
      <p class="benefits-list__item"><br />Rendered notes</p>
      <p class="benefits-list__item"><br />Each lesson has a goal and a specific result</p>
      <p class="benefits-list__item"><br />The real results of the teacher</p>
      <p class="benefits-list__item">
        <br />The course program meets the requirements of the MES of Ukraine
      </p>
      <p class="benefits-list__item"><br />Set of groups by level of knowledge</p>
    </div>
  </div>
</section>
