<section class="contacts">

    <div class="container">

        <h2 class="contacts__title">Registration for a <span class="accent-word">free</span> phone <span class="accent-word">consultation</span> on the nuances of English UPE</h2>

        <p class="contacts__text">Leave a request for participation in a <span class="accent-word">free lesson</span>. <br>
            A consultant will contact you and answer your questions</p>

            <form class="form">
                <label class="form__label">                    
                      <input
                        class="form__input"
                        type="text"
                        name="username"
                        required
                        minlength="3"
                        placeholder="Name*"
                      />  
                  </label>
    
                  <label class="form__label">                    
                      <input
                        class="form__input"
                        type="tel"
                        name="phone_number"
                        required
                        minlength="3"
                        placeholder="Phone*"
                      />
                  </label>
    
                  <button class="hero__btn" type="submit">i want a free lesson</button>
            </form>
     
    </div>
</section>