<footer class="footer">
    <div class="container">
        <div class="footer__logo">
            <a class="logo logo-footer" href="">
                <div class="logo__inner">
                    Hell<svg class="logo__icon">
                        <use href="images/symbol-defs.svg#icon-campfire"></use>
                    </svg>EN
                </div>
                <p class="logo__text"><span class="logo__span">hellish</span> english</p>
            </a>
            <div class="footer__wrapper">
                <address class="address">
                    <a class="address__link" href="tel:+380000000000">+38 (000) 000 00 00</a>
                </address>
                <a class="footer__social" href="">
                </a>
            </div> 
        </div>
        <div class="footer__reserved">
            <p class="reserved">@ All rights reserved, 2019</p>
        </div>
    </div>   
</footer>