<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<header class="header">
    <div class="container header__container">
        <nav class="main-nav">
            <div class="footer__logo">
                <a class="logo logo-footer" href="">
                    <div class="logo__inner">
                        Hell<svg class="logo__icon">
                            <use href="images/symbol-defs.svg#icon-campfire"></use>
                        </svg>EN
                    </div>
                    <p class="logo_text"><span class="logo_span">hellish</span> english</p>
                </a>
                </div>
            <ul class="site-nav ul">
                <li class="site-nav__item"><a href=""></a>Studying program</li>
                <li class="site-nav__item"><a href=""></a>about</li>
                <li class="site-nav__item"><a href=""></a>training options</li>
                <li class="site-nav__item"><a href=""></a>contacts</li>
            </ul>
            <button class="button-call" type="button">consultation by phone</button>
                    <button type="button" class="mobile-menu-btn" width="21" height="12">
            <svg class="mobile-menu-btn__icon" width="21" height="12">
                <use href=""></use>
            </svg>
            </button>
        </nav>
    </div>
</header>
