<header class="header">
    <div class="container header__container">
        <nav class="main-nav">
            <div class="hedader__logo">
                <a class="logo" href="#">
                    <div class="logo__inner">
                        Hell<svg class="logo__icon">
                            <use href="images/symbol-defs.svg#icon-campfire"></use>
                        </svg>EN
                    </div>
                    <p class="logo__text"><span class="logo__span">hellish</span> english</p>
                </a>
            </div>
            <div class="btn-nav">
            <ul class="site-nav ul">
                <li class="site-nav__item"><a class="site-nav__item scrollto"  href="#program">Studying program</a></li>
                <li class="site-nav__item"><a class="site-nav__item scrollto" href="#about">about</a></li>
                <li class="site-nav__item"><a class="site-nav__item scrollto" href="#training">training options</a></li>
                <li class="site-nav__item"><a class="site-nav__item scrollto" href="#registration">contacts</a></li>
            </ul>
            <button class="button-call js-open-modal" type="button" data-modal="2">consultation by phone</button>
            <button type="button" class="modal-link js-open-modal" data-modal="1" aria-expanded="false">
                <svg class=" mobile-menu-btn__icon" width="21" height="14">
                    <use href="images/symbol-defs.svg#icon-menu"></use>
                </svg>
            </button>
            </div>
        </nav>
    </div>
        <div class="mobile-nav modal" data-modal="1">
            <div class="header__logo logo-header-mobile">
                <a class="logo logo-header-white" href="#">
                    <div class="logo__inner">
                        Hell<svg class="logo__icon-mobile">
                            <use href="images/symbol-defs.svg#icon-campfire"></use>
                        </svg>EN
                    </div>
                    <p class="logo__text logo__text-mobile"><span class="logo__span">hellish</span> english</p>
                </a>
            </div>
                <button class="modal__cross js-modal-close">
            <svg class="mobile-menu-close__icon" width="16" height="16">
                <use href="images/symbol-defs.svg#icon-cross" ></use>
            </svg>
                </button>
            <ul class="mobile-list">
            <li>
                <a class="mobil-nav__item js-modal-close" href="#program">Studying program</a>
            </li>
            <li>
                <a class="mobil-nav__item js-modal-close" href="#about">About</a>
            </li>
            <li>
                <a class="mobil-nav__item js-modal-close" href="#training">Training options</a>
            </li>
            <li>
                <a class="mobil-nav__item js-modal-close" href="#registration">Contacts</a>
            </li>
        </ul>
        <button class="button__modal-2 js-open-modal" type="button" data-modal="2">consultation by phone</button>

    </div>
    <div class="form-nav modal modal-second backdrop is-hidden overlay" data-modal="2">
        
            <div class="header__logo logo-header-mobile">
                <a class="logo logo-header-white" href="#">
                    <div class="logo__inner">
                        Hell<svg class="logo__icon-mobile">
                            <use href="images/symbol-defs.svg#icon-campfire"></use>
                        </svg>EN
                    </div>
                    <p class="logo__text logo__text-mobile"><span class="logo__span">hellish</span> english</p>
                </a>
            </div>
                <button class="modal__cross js-modal-close">
            <svg class="mobile-menu-close__icon" width="16" height="16">
                <use href="images/symbol-defs.svg#icon-cross" ></use>
            </svg>
                </button>
                <form class="contact-form">
            <p class="form-head">Leave your details, we will call you back</p>
                <label class="contact-form-field">
                    <span class="contacts-name-modal">Name</span> 
                    <span class="contact-form-input-wrapper">
                        <input name="user-name" class="contact-form-input" type="text">
                        <svg class="contact-form-icon" width="18" height="18">
                            <use href="images/symbol-defs.svg#icon-person-black">
                            </use>
                        </svg>
                    </span>
                </label>
                <label class="contact-form-field">
                    <span class="contacts-name-modal">Telephone</span>
                    <span class="contact-form-input-wrapper">
                    <input name="user-phone" class="contact-form-input" type="tel">
                    <svg class="contact-form-icon" width="18" height="18">
                        <use href="images/symbol-defs.svg#icon-phone-black">
                        </use>
                    </svg>
                </span>
                </label>
                <label class="contact-form-field">
                    <span class="contacts-name-modal">Mail</span> 
                    <span class="contact-form-input-wrapper">
                    <input name="user-mail" class="contact-form-input" type="email">
                    <svg class="contact-form-icon" width="18" height="18">
                        <use href="images/symbol-defs.svg#icon-email-black">
                        </use>
                    </svg>
                </span>
                    </label>
                        <label class="contact-form-field">
                    <span class="contacts-name-modal">
                        Comment</span> 
                    <textarea 
                    name="user-message" 
                    class="contact-form-message" 
                    placeholder="Enter text"
                    ></textarea>
                </label>
                <div class="contact-form-checkbox-wrapper">
                    <input 
                    name="accept-policy" 
                    type="checkbox" 
                    class="contact-form-checkbox visually-hidden" 
                    id="policy-checkbox" 
                    required 
                    />
                    <label for="policy-checkbox" class="contact-form-checkbox-label"
                    >I agree with the newsletter and accept&nbsp;&nbsp;<a href="#" class="akt" >Agreement conditions</a></label>
                </div>
                <button type="submit" class="contact-form-submit-btn">Send</button>
            </form>
            </div>
  <div class="overlay js-overlay-modal"></div>
</header>
