<section class="hero">
    <div class="container">
        <div class="line">
            <!-- <img src="images/animation/animation-tel.png" alt="img"> -->
        </div>
        <div class="hero__text-all">
            <h1 class="hero__title">Complex preparation for English UPE</h1>
            <div class="hero__text">
                <p class="hero__text1">It won’t be easy.</p>
                <p class="hero__text2">But you’re guaranteed to get</p>
                <p class="hero__text3">+25 points</p>
            </div>
            <a class="hero__btn scrollto" href="#registration">I want a free lesson</a>  
        </div>
        
    </div>
</section>