<section class="How-we-do">
  <div class="container">
    <h2 class="How-we-do__title">How do we do it</h2>
    <ul class="How-we-do__list">
      <li class="How-we-do__item">
        <a class="How-we-do__link" href="">
          <div class="How-we-do__card">
            <svg class="How-we-do__svg" width="45" height="48">
              <use href="images/symbol-defs.svg#icon-study-program"></use>
            </svg>
            <h3 class="How-we-do__title-card">Adapted program<br />preparation for UPE</h3>
            <p class="How-we-do__description">
              You will learn grammar and vocabulary at the same time. And you will learn how to
              write essays.
            </p>
          </div>
        </a>
      </li>
      <li class="How-we-do__item">
        <a class="How-we-do__link" href="">
          <div class="How-we-do__card">
            <svg class="How-we-do__svg" width="48" height="47">
              <use href="images/symbol-defs.svg#icon-mobile-learning"></use>
            </svg>
            <h3 class="How-we-do__title-card">Classroom and online<br />learning</h3>
            <p class="How-we-do__description">
              The teacher will help not only in the classroom, but also during home preparation.<br />
              Parents can chat if they wish.
            </p>
          </div></a
        >
      </li>
      <li class="How-we-do__item">
        <a class="How-we-do__link" href="">
          <div class="How-we-do__card">
            <svg class="How-we-do__svg" width="68" height="48">
              <use href="images/symbol-defs.svg#icon-open-book"></use>
            </svg>
            <h3 class="How-we-do__title-card">The habit of reading in English</h3>
            <p class="How-we-do__description">
              Articles from sources that are used in the development of this UPE will be received by
              phone twice a week.
            </p>
          </div></a
        >
      </li>
      <li class="How-we-do__item">
        <a class="How-we-do__link" href="">
          <div class="How-we-do__card">
            <svg class="How-we-do__svg" width="48" height="48">
              <use href="images/symbol-defs.svg#icon-hand-people"></use>
            </svg>
            <h3 class="How-we-do__title-card">Psychological<br />support</h3>
            <p class="How-we-do__description">
              We will teach you testing techniques, the ability to plan your confidence training
              <br />
              in itself.
            </p>
          </div></a
        >
      </li>
      <li class="How-we-do__item">
        <a class="How-we-do__link" href="">
          <div class="How-we-do__card">
            <svg class="How-we-do__svg" width="40" height="48">
              <use href="images/symbol-defs.svg#icon-female-student"></use>
            </svg>
            <h3 class="How-we-do__title-card">Training on copyright manuals</h3>
            <p class="How-we-do__description">
              You don't have to waste your time on a search for material and to buy anything extra.
              We have compiled<br />
              2 manuals for you.
            </p>
          </div></a
        >
      </li>
      <li class="How-we-do__item">
        <a class="How-we-do__link" href="">
          <div class="How-we-do__card">
            <svg class="How-we-do__svg" width="57" height="48">
              <use href="images/symbol-defs.svg#icon-audio-book"></use>
            </svg>
            <h3 class="How-we-do__title-card">
              Ability to comprehend spoken<br />
              English
            </h3>
            <p class="How-we-do__description">
              “F.R.I.E.N.D.S” won't help you. You will listen regularly<br />
              and analyze audio recordings in accordance with the studied<br />
              vocabulary.
            </p>
          </div></a
        >
      </li>
    </ul>
  </div>
</section>
