<section class="problems">
  <div class="container">
    <h2 class="problems__title">
      The main problems of students in English UPE, which<br />
      we <span class="problems__help">help</span> to solve
    </h2>
    <div class="problems__list">
      <p class="problems-list__item"><br />Grammar</p>
      <p class="problems-list__item"><br />Inability to understand spoken English</p>
      <p class="problems-list__item"><br />Stingy vocabulary for writing an essay</p>
      <p class="problems-list__item"><br />Preparing alone</p>
      <p class="problems-list__item"><br />Lack of a single knowledge resource</p>
      <p class="problems-list__item"><br />Lack of self-organization and laziness</p>
    </div>
  </div>
</section>
