<section class="problems">
  <div class="container">
    <h2 class="problems__title">
      The main problems of students in English UPE, which<br />
      we <span class="problems__help">help</span> to solve
    </h2>
    <div class="problems__list">
      <p class="problems-list__item">Grammar</p>

      <p class="problems-list__item">Inability to understand spoken English</p>
      <p class="problems-list__item">Stingy vocabulary for writing an essay</p>
      <p class="problems-list__item">Preparing alone</p>
      <p class="problems-list__item">Lack of a single knowledge resource</p>
      <p class="problems-list__item">Lack of self-organization and laziness</p>
    </div>
  </div>
</section>
